{% extends 'jboffer/base.html' %}
{% load static %}

{% block content %}
  <div class="column">
    <div class="card glass">
      <header class="card-header has-text-centered">
        <p class="card-header-title">
          Create Application
        </p>
        <a href="#" class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </a>
      </header>
      <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-content glass">
          <div class="content">
            <table>
              <tbody>
                <tr>
                  <th>{{ form.application_type.label_tag }}</th>
                  <td id="app-type">{{ form.application_type }}</td>
                </tr>
                <tr>
                  <th>{{ form.applied_to.label_tag }}</th>
                  <td>{{ form.applied_to }}</td>
                </tr>
                <!--Form for creating Job offers-->
                <tr id="offer-desc" hidden="">
                  <th>{{ offer_form.description.label_tag }}</th>
                  <td>{{ offer_form.description }}</td>
                </tr>
                <tr id="offer-pic" hidden="">
                  <th>{{ offer_form.snapshot.label_tag }}</th>
                  <td>{{ offer_form.snapshot }}</td>
                </tr>
                <tr id="offer-url" hidden="">
                  <th>{{ offer_form.url.label_tag }}</th>
                  <td>{{ offer_form.url }}</td>
                </tr>
                <!--end of Job offer Form-->
                <tr>
                  <th>{{ form.position.label_tag }}</th>
                  <td>{{ form.position }}</td>
                </tr>
                <!--Tag Form-->
                <tr id="tag-name">
                   <th>{{ tag_form.name.label_tag }}</th>
                   <td>{{ tag_form.name }}</td>                      
                </tr>
                <!--End of Tag Form-->

                <!--Attachments to Application Form + Cover letter TextArea-->
                <tr>
                  <th>
                    <button class="button is-info is-inverted is-outlined" id="save_cv">
                      <span class="has-text-black">Save CV</span>
                    </button>
                  </th>
                  <td id="save_cv_field" hidden="">{{ form.attachment }}</td>
                </tr>
                <tr>
                  <th>
                    <button class="button is-info is-inverted is-outlined" id="cover_letter">
                      <span class="has-text-black">Add Cover Letter</span>
                    </button>
                  </th>
                  <td id="save_cover_field" hidden="">{{ form.cover_letter }}</td>
                </tr>
                <tr>
                  <th>
                    <button class="button is-info is-inverted is-outlined" id="comment">
                      <span class="has-text-black">Leave a Comment</span>
                    </button>
                  </th>
                  <td id="save_comment_field" hidden="">{{ form.comments }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <footer class="card-footer">
          <button class="button is-primary is-light card-footer-item" type="submit">
              <span class="icon has-text-success-dark">
              <i class="fas fa-check"></i></span><span>Save</span>
          </button>
          <a href="{% url 'landing-page' %}" type="button" class="button is-danger is-light card-footer-item">
            <span class="icon has-text-danger-dark">
              <i class="fas fa-times"></i></span><span>Discard</span>
          </a>
        </footer>
      </form>
    </div>
  </div>

{% endblock %}

{% block script%}
    <script src="{% static 'jboffer/app.js' %}"></script>
{% endblock %}