<div id="edit-form" class="column" style="display: none;">
  <div class="card glass">
    <header class="card-header has-text-centered">
      <p class="card-header-title">
        Update {{ app }}
      </p>
      <a href="#" class="card-header-icon" aria-label="more options">
        <span class="icon">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </a>
    </header>
    <form id="act-form" method="POST" data-href="{% url 'update-app' app.id %}" action=""  enctype="multipart/form-data">
      {% csrf_token %}
      <div class="card-content glass">
        <div class="content">
          <table>
            <tbody>
              <tr>
                <th>{{ form.comments.label_tag }}</th>
                <td>{{ form.comments }}</td>
              </tr>
              <tr>
                <th>Mark as replied to</th>
                <td>{{ form.application_response }}</td>
              </tr>
              <tr>
                <th>Response content</th>
                <td>{{ form.response_content }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <footer class="card-footer">
        <button id="send-form" class="button is-primary is-light card-footer-item" type="submit">
          <span class="icon has-text-success-dark">
          <i class="fas fa-check"></i></span><span>Save</span>
        </button>
        <button id="discard-edit" class="button is-danger is-light card-footer-item" type="submit">
          <span class="icon has-text-danger-dark">
            <i class="fas fa-times"></i></span><span>Discard</span>
        </button>
      </footer>
    </form>
  </div>
</div>