{% extends 'jboffer/base.html' %}
{% block content %}
        <div class="column">
          <div class="card glass">
            <header class="card-header has-text-centered">
              <p class="card-header-title">
                Create Application
              </p>
              <a href="#" class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </a>
            </header>
            <div class="card-content glass">
             <form>
              <div class="content">
                  {% csrf_token %}
                  <table>

                    {{form.as_table}}
                  </table>
              </div>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item">
                <span class="icon has-text-success-dark">
                  <i class="fas fa-check"></i>Save</span>
                  </a>
              <a href="#" class="card-footer-item">
                <span class="icon has-text-danger-dark">
                  <i class="fas fa-trash"></i>Discard</span></a>
            </footer>
          </div>
        </div>
      </form>

 
        </div>
      </div>
    </div>
    
  </section>
{% endblock %}