{% extends 'jboffer/base.html' %}

{% block content %}
<div class="column">
  <p class="has-text-white title">#{{tag}}</p>
  
  {% for app in apps %}
    <article class="is-dark mt-2">
      <div class="card glass">
        <div class="card-content glass">
          <div class="media columns is-vcentered">
            <div class="column is-one-fifth media-left">
              <div class="crop">
                <img src="{{ app.applied_to.logo.url }}" alt="Place image">
              </div>
            </div>
            <div class="column is-one-third">
              <legend><strong>Application type: {{ app.get_application_type_display }}</strong></legend>
              <p>Company: {{ app.applied_to.name }}</p>
              <p>Position: {{ app.position }} </p>
              <a href="{{ app.applied_to.url }}">{{ app.applied_to.url }}</a>
            </div>
            <div>
              <legend><strong>Application Details</strong></legend>
              <p>Applied On: {{ app.applied_on }}</p>
              <p>{{ app.application_response|yesno:"Response Recieved, No Response Recieved" }}</p>
              <a href="{% url 'view-application' app.id %}">See more details</a>
            </div>
          </div>
        </div>
      </div>
    </article>
  {% endfor %}
  
  {% include 'jboffer/pagination.html' %}
</div>

{% endblock %}