{% extends 'jboffer/base.html' %}
{% block content %}
<div class="column">
  {% for company in companies %}
    <article class="is-dark mt-2">
      <div class="card glass">
        <div class="card-content glass">
          <div class="media columns is-vcentered">
            <div class="media-left">
              <div>
                {% if company.logo %}
                <img src="{{company.logo.url}}" alt="Place image" width="150" height="150">
                {% endif %}
              </div>
            </div>
            <div>
              <p><strong>{{company.name}}</strong></p>
              <p>{{company.email}}</p>
              <p>{{company.address}} this is an address field </p>
              <a href="{{company.url}}">{{company.url}}</a>
            </div>
          </div>
        </div>
      </div>
    </article>
  {% empty %}
    <p>No companies yet</p>
  {% endfor %}
  {% if is_paginated %}
    <div class="buttons has-addons mt-3 is-centered">
    {% if page_obj.has_previous %}
      <button class="button is-link is-inverted is-outlined">
        <a href="?page=1"><span class="has-text-grey">First</span></a>
      </button>
      <button class="button is-link is-inverted is-outlined">
        <a href="?page={{ page_obj.previous_page_number }}">
          <span class="has-text-grey">Previous</span></a>
      </button>
    
    {% endif%}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
      <button class="button is-link is-inverted is-outlined">
        <a href="?page={{ num }}"><span class="has-text-grey">{{ num }}</span></a></button>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <button class="button is-link is-inverted is-outlined">
        <a href="?page={{ num }}"><span class="has-text-grey">{{ num }}</span></a></button>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <button class="button is-link is-inverted is-outlined">
        <a href="?page={{ page_obj.next_page_number }}"><span class="has-text-grey">Next</span>
        </a></button>
      <button class="button is-link is-inverted is-outlined">
        <a href="?page={{ page_obj.paginator.num_pages }}"><span class="has-text-grey">Last</span></a></button>
    {% endif%}
  </div>
{% endif%}
</div>


{% endblock %}