{% extends 'jboffer/base.html' %}
{% block content%}
        <div class="column">
          <div class="card glass">
            <header class="card-header">
              <p class="card-header-title">
                MyApplication
              </p>
              <a href="#" class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </a>
            </header>
            <div class="card-content">
              <div class="content">
                Data Analyst for Company
                <br>
                <a href="#">#python</a> <a href="#">#SQL</a>
                <br>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2021</time>
              </div>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item">
                <span class="icon has-text-success-dark">
                  <i class="fas fa-check"></i></span>
                  </a>
              <a href="#" class="card-footer-item">
                <span class="icon has-text-warning-dark">
                  <i class="fas fa-pencil-alt"></i>
                  </span></a>
              <a href="#" class="card-footer-item">
                <span class="icon has-text-danger-dark">
                  <i class="fas fa-trash"></i>
                </span></a>
            </footer>
          </div>
        </div>

        <div class="column">
          <div class="card glass">
            <header class="card-header">
              <p class="card-header-title">
                MyApplication
              </p>
              <a href="#" class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </a>
            </header>
            <div class="card-content">
              <div class="content">
                React Developer for Company
                <br>
                <a href="#">#reactjs</a> <a href="#">#frontend</a>
                <br>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2021</time>
              </div>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item">
                <span class="icon has-text-success-dark">
                  <i class="fas fa-check"></i></span>
                  </a>
              <a href="#" class="card-footer-item">
                <span class="icon has-text-warning-dark">
                  <i class="fas fa-pencil-alt"></i>
                  </span></a>
              <a href="#" class="card-footer-item">
                <span class="icon has-text-danger-dark">
                  <i class="fas fa-trash"></i>
                </span></a>
            </footer>
          </div>
        </div>

        <div class="column">
          <div class="card glass">
            <header class="card-header">
              <p class="card-header-title">
                MyApplication
              </p>
              <a href="#" class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </a>
            </header>
            <div class="card-content">
              <div class="content">
                Python Developer for Company
                <br>
                <a href="#">#python</a> <a href="#">#backend</a>
                <br>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
              </div>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item">
                <span class="icon has-text-success-dark">
                  <i class="fas fa-check"></i></span>
                  </a>
              <a href="#" class="card-footer-item">
                <span class="icon has-text-warning-dark">
                  <i class="fas fa-pencil-alt"></i>
                  </span></a>
              <a href="#" class="card-footer-item">
                <span class="icon has-text-danger-dark">
                  <i class="fas fa-trash"></i>
                </span></a>
            </footer>
          </div>
        </div>
      </div>
    </div> 
  </section>
  
  <section class="section" style="padding-top: 0rem;">
    <div class="container">
      <div class="columns">
          <div class="column mt-0">
            <button class="button is-fullwidth is-link is-inverted is-outlined mb-1">
              <span class="icon">
                <i class="fas fa-folder-open"></i>
              </span>
              <a href="{% url 'company-list' %}">Companies</span></a><span>
            </button>
            <div class="table-container">
              <table class="table is-fullwidth glass">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>URL</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for company in companies%}
                    <tr>
                      <th>{{forloop.counter}}</th>
                      <td>{{company.name}}</td>
                      <td>{{company.email}}</td>
                      <td><a href="{{company.url}}"><span class="has-text-danger-light">{{company.url}}</span></a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
          </div>
              <div class="column">
                <button class="button is-fullwidth is-link is-inverted is-outlined mb-1">
                  <span class="icon">
                    <i class="fas fa-book"></i>
                  </span>
                  <span>Job offers</span>
                </button>
                <div class="table-container">
                <table class="table is-fullwidth glass">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Header</th>
                          <th>Header</th>
                          <th>Header</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th>1</th>
                          <td>Data</td>
                          <td>Data</td>
                          <td>Data</td>
                        </tr>
                        <tr>
                          <th>2</th>
                          <td>Data</td>
                          <td>Data</td>
                          <td>Data</td>
                        </tr>
                        <tr>
                          <th>3</th>
                          <td>Data</td>
                          <td>Data</td>
                          <td>Data</td>
                        </tr>
                        <tr>
                          <th>4</th>
                          <td>Data</td>
                          <td>Data</td>
                          <td>Data</td>
                        </tr>
                        <tr>
                          <th>5</th>
                          <td>Data</td>
                          <td>Data</td>
                          <td>Data</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}