<aside class="menu">
  <div class="buttons are-normal">
    <a href="{% url 'create-company' %}" class="button is-fullwidth is-link is-inverted is-outlined">
      <span class="icon"><i class="fas fa-plus-circle"></i></span>
      <span>Add Company</span>
    </a>
    <a href="{% url 'create-application' %}" class="button is-fullwidth is-link is-inverted is-outlined">
      <span class="icon"><i class="fas fa-user-tie"></i></span>
      <span>New Application</span>
    </a>
    <a href="{% url 'stats' %}" class="button is-fullwidth is-link is-inverted is-outlined">
      <span class="icon"><i class="fas fa-chart-pie"></i></span>
      <span>View Statistic</span>
    </a>

    {% if request.path != '/' %}
    <a href="{% url 'landing-page' %}" class="button is-fullwidth is-link is-inverted is-outlined">
      <span class="icon"><i class="fas fa-undo"></i></span>
      <span>Return Home</span>
    </a>
    {% endif %}
  
  </div>
</aside>